.about {
  .content {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: space-around;

    @include media-sm {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include media-lg{
      width: 70vw;
    }
    .font-italic {
      letter-spacing: 0.05rem;
      margin-bottom: 2rem;
    }

    .skills .list {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;

      li {
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        background: $white;
        border-radius: 0.25rem; 
        box-shadow: $light-shadow;
        transition: $transition;

        &:hover {
          transform: scale(1.1);
        }
      }

      img {
        width: 50px;
      }
    }
  }
}