.intro {
  height: 80vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover .last-name {
    color: var(--button) !important;
    -webkit-text-stroke-width: 0px !important;
  }

  .left {
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media-sm{
        padding: 2rem 0.5rem;
      }

      h1 {
        margin: 0;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        color: var(--headline);

        @include media-sm {
          font-size: 40px;
        }
      }
      
      .last-name {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--button);
        transition: $transition;
      }
      p{
        text-align: center;
        margin: 15px 0 0 0;
        font-size: 26px;
        font-family: "Poppins", sans-serif;
      }
      .location {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include media-sm{
          font-size: 20px;
        }
      }
      .social-links ul{
        display: flex;
        gap: 1rem;

        .icons {
          font-size: 1.5rem;

          svg {
            fill: var(--headline);

            &:hover{
              fill: var(--button);
            }
          }
        }
      }
    }
    .arrow {
      display: flex;
      justify-content: center;

      .down-arrow {
        position: absolute;
        bottom: 0px;
        
        svg {
          width: 30px;
          animation: arrowBlink 2s infinite;

          #inner-circle {
            fill: var(--tertiary) !important;
          }
          #outer-circle{
            fill: var(--headline) !important;
          }
        }
        
        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}
