// Navbar
.navbar {
  position: sticky;
  background: transparent;
  top: 0;
  z-index: 99;
}
.nav-active {
  background-color: var(--background);
}
.nav-center {
  .nav-header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 50px;
    }
  }
  .nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: $transition;
    cursor: pointer;

    &:hover{
      transform: rotate(90deg);
      color: var(--headline) !important;
    }
  }
  .links-container {
    overflow: hidden;
    transition: $transition;
    width: 100vw;
    position: absolute;
    z-index: 999;
    text-align: center;
    background: var(--tertiary);
  }
  .links {
    display: inline-flex;
    align-items: center;

    .nav-link {
      cursor: pointer;

      a {
        color: var(--headline);
        text-transform: uppercase;
        letter-spacing: $spacing;
        font-weight: 600;
      }
    }
  }
}

@include media-sm {
  .links-container {
    height: 0;
  }
  .links {
    row-gap: 0.5rem;
    flex-direction: column;
    padding: 3rem;

    .nav-link a{
      &.active, &:hover {
        color: var(--background) !important;
      }
    }
  }
}
@include media-lg {
  .nav-center {
    padding: 0 2rem;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto;
      display: contents;
    }
    .links {
      column-gap: 1.5rem;
      flex-direction: row;
      padding: 0;

      .nav-link a{
        &.active, &:hover {
          color: var(--button) !important;
        }
      }
    }
  }
}