@import './media';
@import './variables';

.theme-switcher {
  position: fixed;
  left: 0px;
  bottom: 75px;
  transform: rotateZ(90deg);

  @include media-sm {
    left: -35px;
  }
}

.theme-options{
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;

  @include media-sm{
    padding: 10px 0 0 0;
  }

  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px 10px;
    border: 2px solid $black;
    display: inline-block;

    &.active {
      border: 2px solid #f25042;
    }
  }
}
#theme-1{
  background: #fffffe;
}
#theme-2{
  background: #fef6e4;
}
#theme-4{
  background: #16161a;
}
