// Variables
:root {
  --background: #fffffe;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
  --headline: #2b2c34;
  --paragraph: #2b2c34;
  --button: #6246ea;
  --button-text: #fffffe;
}

$primaryColor: hsl(262, 94%, 51%);
$secondaryColor: hsl(168, 83%, 44%);
$bgPrimary: hsl(169, 75%, 87%);
$bgPrimaryLight: hsl(260, 90%, 96%);
$bgFooter: hsl(206, 14%, 10%);
$bgSecondary: hsl(262, 94%, 80%);
$offWhite: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 2%);
$lightGrey: hsl(0, 0%, 83%);
$grey: hsl(0, 0%, 44%);
$grey-special: hsl(288, 11%, 91%);
$red-special: hsl(341, 55%, 45%);
$transition: all 0.3s ease-in-out;
$spacing: 0.1rem; // letter spacing
$spacingMobile: 0.5rem;
$spacingDesktop: 2rem;
$radius: 0.75rem;
$border: 0.25rem;
$light-shadow: 0 2px 7px var(--headline);
$dark-shadow: 0 5px 15px var(--headline);